.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  --bs-gutter-x: 0rem !important;
  margin: 0;
  padding: 0;
}

.contenedor-iconos {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  background-color: #282c34;
}

#elem {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 0 10px;
}

.elem2 {
  width: 100%;
}

.logo-usu {
  height: 75%;
  filter: invert(100%);
}

.logo-marvel {
  height: 75%;
  padding: 0 auto;
}

.logo-marvel-sub {
  height: 75%;
}

.texto-arriba {
  font-size: 12px;
  color: white;
  margin-bottom: 0rem;
}

.contenedor-menu {
  height: 5vh;
  background-color: #282c34;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 0;
  height: 100%;
  justify-content: center;
}

.menu:hover a {
  color: black;
}

.menu-celdas {
  display: flex;
  padding: 5px 5vw;
  height: 100%;
}

.menu a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu a:hover {
  color: white;
  border-bottom: 1px solid red;
}

.titulo {
  border-top: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: black;
}

.contenedor-personajes {
  width: 100%;
  height: auto;
  background-color: #282c34;
  padding: 2vh 10vw;
}

.personajes {
  width: 90%;
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  align-items: center;
}

.personaje-contenedor-imagen {
  background-color: transparent;
}

.personaje-imagen {
  width: 25vw;
  height: auto;
  border-radius: 20px;
  background-size: cover;
}

.personaje-informacion {
  padding: 2vh 5vw;
}

.personaje-series h3 {
  font-size: larger;
}
