name: Upload Website

on:
  push:
    branches:
      - marvel-characters

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: npm install
      - run: CI='' npm run build
      - run: mkdir subir/characters
      - run: mv build/* subir/characters/
      - uses: KevinMunoz00/s3-Actu@master
        with:
          args: --follow-symlinks --delete --recursive
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET_CHARACTERS }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: "us-west-1"
          SOURCE_DIR: "subir"